.candy-wrapper img, .patrat-overlay {
    
    max-height: 300px;
    max-width: 400px;
}
.patrat-overlay {
    background-color: black;
    display: block;
    height: 267px;
    width: 401px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.candy-wrapper {
    position: relative;
}
.candy-wrapper span h3 {
    color: white;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 70px;
    line-height: 300px;
}
.candy-wrapper-2 span h3{
    position: relative;
    z-index: 2;
}
.candy-wrapper-2 {
    background-image: linear-gradient(
        rgba(0,0,0,0.8),rgba(0,0,0,0.8)
    ),
    url("../images/candy1.jpg");
    display: block;
    height: 267px;
    width: 401px;
    background-size: cover;
    background-position: center;   
}

.patrat-overlay-2 {
    height: 267px;
    width:401px;
    color: white;
}
.patrat-overlay-2 h3{
    line-height: 267px;
}
