body {
  font-family: 'Roboto', sans-serif;
  background: url('https://images.unsplash.com/photo-1533910534207-90f31029a78e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=097eb74d6581ab172cc3b3f786f2fc00&auto=format&fit=crop&w=1868&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  font-family: inherit;
  text-decoration: none;
}

/* TOP NAVBAR */
.store-location a {
  color: #ea1c2c;
}

.store-social {
  margin-right: 0;
}

.store-social a {
  color: #ea1c2c;
}

.store-social li:not(:last-child) {
  margin: 0 .5rem;
}
.store-social li:last-child {
  margin-left: .5rem;
}

.fa-map-marker-alt {
  font-size: 1rem;
}

/* MAIN NAVBAR */
.fa-search {
  transition: all .3s;
}
.fa-search:hover {
  transform: scale(1.25);
}

.btn-red {
  background-color: #ea1c2c;
  color: #fff;
  border-radius: 100px;
  padding: .5rem 2rem;
}
.btn-red:hover {
  background-color: #fff;
  border: 1px solid #999;
  color: #242424;
}

.navbar-brand {
  font-size: 2.5rem;
  color: #000;
}
.navbar-brand span {
  font-weight: 700;
  color: #ea1c2c;
}
.navbar-brand:hover {
  color: #000;
}

.u_color-red {
  color: #ea1c2c;
}

/* MAIN PRESENTATION HEADER */
.main-presentation {
  padding: 6rem 0;
  background-color: #fff;
  color: #242424;
}

.header-subtitle {
  color: #ea1c2c;
  line-height: 1.875rem;
  font-style: italic;
  font-size: 1.5rem;
}

.header-title h2 {
  line-height: 3.75rem;
  font-size: 2.25rem;
  font-weight: 700 !important;
}

.header-title p {
  margin-bottom: 2.5rem;
}

.presentation-video {
  margin: 0;
  position: relative;
}

.video__background {
  height: 23rem;
  width: 23rem;
}

.image__back {
  position: absolute;
  right: 0;
  top: 0;
}

.image__front {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: url('https://images.unsplash.com/photo-1506459225024-1428097a7e18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ab4e25a36018838f63e828e5a4d5570&auto=format&fit=crop&w=1868&q=80');
  right: .2rem;
  top: 1.8rem;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.presentation-links {
  padding: 2rem 1rem;
}

/* ARROW: MOVE TO TOP OF THE PAGE */
.totop {
  display: flex;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #ea1c2c;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: all .5s;
}

.totop a {
  color: #fff;
}

.totop:hover {
  background: rgb(177, 55, 142);
}

/* WHAT WE DO */
.what-we-do {
  background: rgba(234, 28, 44, .6);
  height: 24rem;
}

.what-we-do .container .row h2 {
  line-height: 1;
  color: #fff;
  font-weight: 500;
  font-style: italic;
}

.what-we-do .container .row p.lead {
  color: #fff;
  font-weight: 300;
}

/* HOME GALLERY */
.home-gallery__item {
  padding: 1rem;
}

.home-gallery__image {
  position: relative;
  overflow: hidden;
}

.home-gallery__image img {
  transition: all .3s ease-in-out;
}

.home-gallery .home-gallery__image:hover img {
  transform: scale(1.1);
}

/* FOOTER TOP */
.footer-top {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,    
    rgba(249, 217, 223, 0.6),
    rgba(234, 28, 44, 0.6)),
    url('https://images.unsplash.com/photo-1518691340140-512e66ce957b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f4199bcd7641464c5dfe84cfdb6cce4&auto=format&fit=crop&w=1946&q=80');
  background-size: cover;
  background-position: center;
  padding-bottom: 1rem;
}

.footer-about {
  font-weight: 500;
}

.insta-card {
  width: 30%;
  height: 5rem;

  transition: all .3s;
}

.insta-card:not(:last-of-type) {
  margin-right: .5rem;
}

.insta-card:hover {
  transform: scale(1.3);
  z-index: 1;
}

.footer-contact-links {
  list-style: none;
  color: #ea1c2c;
}

.footer-contact-links li {
  position: relative;
  display: flex;
}

.footer-contact-links li i {
  position: absolute;
  left: 0;
  align-self: center;
}

.footer-contact-links li a {
  text-decoration: none;
  position: relative;
  left: 2rem;
  color: #eee;

  transition: all .3s;
}

.footer-contact-links li a:hover {
  color: #ea1c2c;
  transform: translateY(-.1rem);
}

.subscribe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.subscribe-email {
  margin: .5rem;
  width: 60%;
  border: none;
}

.subscribe-email:focus {
  outline: none;
}

.subscribe-submit {
  margin: .5rem .5rem .5rem 0;
  width: 35%;
  border-radius: 4px;
  border: none;
  background: #ea1c2c;
  color: #fff;
  line-height: 2rem;
}

.subscribe-submit:hover {
  cursor: pointer;
}

/* FOOTER */
.footer-bottom {
  background: #f9d9df;
  font-family: 'Poppins', sans-serif;
}

.copyright a {
  text-decoration: none;
  color: #000;
}

.copyright p {
  line-height: 4rem;
  vertical-align: middle;
}

.copyright span {
  font-weight: 700;
  color: #ea1c2c;
}

.copyright-links a {
  text-decoration: none;
  color: #333;

  transition: all .4s;
}

.copyright-links a:hover {
  transform: scale(.95);
  color: #ea1c2c;
}

#store-location__address {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  transition: all .4s;
}

#store-location__address:hover {
  color: #ea1c2c;
}

#top-navbar {
  background-color: #f9d9df;
  color: #000;
  height: 3rem;
  font-size: 1.2rem;
}

#navbar-main_container {
  background-color: #fff !important;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .1);
}

#navbar-main_container .navbar-toggler {
  border: none;
}

#navbar-main a {
  font-weight: 500;
  color: #000 !important;
  transition: all .4s;
}

#navbar-main a:hover {
  color: #ea1c2c !important;
  transform: scale(.95);
}

#footer-follow li {
  background-color: #fff;
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;

  transition: all .3s;
}

#color-facebook a {
  color: rgb(66, 103, 178);
}

#color-facebook:hover#color-facebook a {
  color: #fff;
}

#color-facebook:hover {
  background-color: rgb(66, 103, 178);
}

#color-insta a {
  color: rgb(177, 55, 142);
}

#color-insta:hover#color-insta a {
  color: #fff;
}

#color-insta:hover {
  background-color: rgb(177, 55, 142);
}

#color-pinterest a {
  color: rgb(201, 34, 40);
}

#color-pinterest:hover#color-pinterest a {
  color: #fff;
}

#color-pinterest:hover {
  background-color: rgb(201, 34, 40);
}