<div class="footer-bottom d-flex align-items-center justify-content-between flex-sm-column">
  <div class="container px-0">
    <div class="row ml-3">
      <div class="col-lg-6 pl-0">
        <div class="copyright">
          <p class="text-dark m-0">
            Copyright &copy; 2018 All Rights Reserved, Powered by
            <a href="index.html"><span>Bon</span>Bon</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-end pr-0">
        <div class="copyright-links">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li>
              <a class="nav-link" href="contact.html">Contact</a>
            </li class="nav-item">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="totop">
    <a href="#top">
      <i class="fas fa-arrow-up fa-lg"></i>
    </a>
  </div>
</div>