<nav class="navbar navbar-expand-lg navbar-light" id="navbar-main_container">
  <div class="container">
    <a class="navbar-brand" href="#"><span>Bon</span>Bon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Despre Noi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Produse
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="cake.html">Torturi</a>
            <a class="dropdown-item" href="products.html">Brioșe</a>
            <a class="dropdown-item" href="carousel.html">Bomboane</a>
            <a class="dropdown-item" href="carousel.html">Candy Bar</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incercari.html">incercari</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target=".bd-example-modal-sm">
            <i class="fas fa-search u_color-red"></i>
          </a>
          <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <form class="form-inline" method="POST">
                  <input type="text" class=" form-control" placeholder="Caută" aria-label="Search">
                  <button type="submit" class="btn btn-outline-danger"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="btn btn-red" href="#">Cere Ofertă</a>
        </li>
      </ul>
    </div>
  </div>
</nav>